body
{
	background-color: #C7B5B6;
}

#container
{
	width: 1200px;
	min-height: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	
}

#menu
{
	min-width: 1000px;
	min-height: 80px;
	background-color: #404040;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	opacity: 0.95;
	font-family: 'Exo 2', sans-serif;
	
	
}

#left
{
	float: left;
	
	min-width: 140px;
	min-height: 660px;
	background-color: #404040;
	margin-left: 100px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0.9;
	font-family: 'Exo 2', sans-serif;
}

#center
{
	float: left;
	width: 700px;
	min-height: 660px;
	background-color: #E62E3A;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
	opacity: 0.95;
	font-family: 'Exo 2', sans-serif;
	
}

#right
{
	float: left;
	min-width: 140px;
	min-height: 660px;
	background-color: #404040;
	margin-left: 10px;
	margin-right: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0.9;
	font-family: 'Exo 2', sans-serif;
}

#footer
{
	clear: both;
	background-color: #404040;
	min-width: 1000px;
	max-width: 1000px;
	min-height: 60px;
	margin-left: 100px;
	margin-right: 100px;
	opacity: 0.9;
	font-family: 'Exo 2', sans-serif;
}

.movieL
{
	float: left;
	width: 180px;
	height: 250px;
	background-color: blue;
	margin-top: 38px;
	margin-bottom: 38px;
	margin-left: 33px;
	margin-right: 19.5px;
	border: 2px solid #AB0000;
	opacity: 0.7;
}
.movieC
{
	float: left;
	width: 180px;
	height: 250px;
	background-color: blue;
	margin-top: 38px;
	margin-bottom: 38px;
	margin-left: 20.5px;
	margin-right: 20.5px;
	border: 2px solid #AB0000;
	opacity: 0.7;
}

.movieR
{
	float: left;
	width: 180px;
	height: 250px;
	background-color: blue;
	margin-top: 38px;
	margin-bottom: 38px;
	margin-left: 19.5px;
	margin-right: 33px;
	border: 2px solid #AB0000;
	opacity: 0.7;
}

.movieL:hover
{
	float: left;
	width: 180px;
	height: 250px;
	background-color: blue;
	margin-top: 38px;
	margin-bottom: 38px;
	margin-left: 33px;
	margin-right: 19.5px;
	border: 2px solid #AB0000;
	opacity: 1;
}
.movieC:hover
{
	float: left;
	width: 180px;
	height: 250px;
	background-color: blue;
	margin-top: 38px;
	margin-bottom: 38px;
	margin-left: 20.5px;
	margin-right: 20.5px;
	border: 2px solid #AB0000;
	opacity: 1;
}

.movieR:hover
{
	float: left;
	width: 180px;
	height: 250px;
	background-color: blue;
	margin-top: 38px;
	margin-bottom: 38px;
	margin-left: 19.5px;
	margin-right: 33px;
	border: 2px solid #AB0000;
	opacity: 1;
}



.logButton
{
	min-width: 100px;
	min-height: 50px;
	background-color: #34C21B;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	border-radius: 7px;
	line-height: 50px;
}

.logButton:hover
{
	min-width: 110px;
	min-height: 60px;
	background-color: #23B10A;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	vertical-align: middle;
	border-radius: 7px;
	line-height: 60px;
}

	
.option
{
	float: left;
	min-width: 150px;
	min-height: 50px;
	background-color: #ED0312;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	text-decoration: none;
	border-radius: 7px;
	color: black;
}

.option:hover
{
	background-color: #CB0101;
	min-width: 160px;
	min-height: 60px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
	border-radius: 7px;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
}

.clear
{
	clear: both;
}

input[type=text]
{
	width: 200px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 13px;
	padding: 5px;
}

input[type=submit]
{
	width: 150px;
	background-color: #404040;
	color: #666;
	border-radius: 5px;
	font-size: 20px;
	padding: 5px;
	color: red;
	font-family: 'Exo 2', sans-serif;
}

input[type=button]
{
	width: 150px;
	background-color: #404040;
	color: #666;
	border-radius: 5px;
	font-size: 20px;
	padding: 5px;
	color: red;
	margin: auto;
	left: 50%;
	font-family: 'Exo 2', sans-serif;

}

a:link
{
	text-decoration: none;
}

.messageBox {
	color: red;
	margin: 10px;
	padding: 10px;
	font-size: 22px;
}

#summary {
	display: table;
	border-color: black;
	margin: auto;
	border-collapse: collapse;
	margin-inside: 50px;
}

td {
	padding: 10px;
}